In [54]:
import pandas
import numpy
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer

In [55]:
trainData = pandas.read_csv("NHANES_Data_P1_MI_train.csv")
# testData = pandas.read_csv("NHANES_Data_P1_MI_test.csv")

# print(trainData.head())

# Check for missing values
missing = trainData.isnull().sum()
print(missing.sort_values())

# Drop any columns that are not needed
trainData = trainData.drop(columns = [ "Edu","ID", "Income","Insurance"])

# Impute missing values using KNN
imputer = KNNImputer(n_neighbors=10)
imputerTrainData = imputer.fit_transform(trainData)

imputerTrainData = pandas.DataFrame(imputerTrainData, columns=trainData.columns)

imputerTrainData.head()

ID                  0
Sex                 0
Age                 0
Race                0
CurrentSmoker       0
Diabetes            0
Insurance          35
BMI               241
Edu               698
MI                702
HDL               994
TCHOL             994
eGFR             1044
Systolic         1085
Diastolic        1085
Pulse            1786
Income           1955
Trig             8111
LDL              8167
dtype: int64

,Sex,Age,Race,Systolic,Diastolic,Pulse,BMI,HDL,Trig,LDL,TCHOL,eGFR,CurrentSmoker,Diabetes,MI
0,2.0,22.0,2.0,103.333333,70.666667,82.000000,23.8,52.0,48.5,57.1,130.0,123.841493,1.0,2.0,2.0
1,2.0,63.0,2.0,138.666667,74.666667,56.000000,27.4,65.0,103.0,108.0,194.0,83.002277,1.0,2.0,2.0
2,2.0,18.0,2.0,102.000000,59.666667,73.333333,18.5,45.0,64.7,63.2,132.0,135.154945,2.0,2.0,2.0
3,2.0,74.0,7.0,135.200000,67.100000,67.000000,31.3,91.0,73.0,128.0,236.0,83.840405,2.0,2.0,2.0
4,1.0,80.0,2.0,126.666667,62.000000,78.000000,29.4,43.0,107.9,95.9,166.7,59.497868,2.0,2.0,2.0